:root{
  --blue: 	#1e5d88;
  --light-gray: #d5d5d5;
  --light-green: #55ad7a;
  --dark-gray: #334d5c;
  --black: #23292e;
}

body {
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
#disabled {
  margin-top: 3%;
  width: -webkit-fill-available;
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
}
#disabledTitle {
  margin: 0;
  align-self: flex-start;
}
.toggle {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  width: 30%;
  text-align: center;
  align-items: center;
}
.actionButton {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 5px solid black;
  color: black;
  background-color: var(--light-gray);
  border-radius: 30px;
}
#submitButton {
  line-height: 50px;
  font-size: 7vmin;
  width: 40%;
}

#main-content,
#center
{
  display: none;
  flex-direction: column;
}
#main-content {
  flex-flow: column;
  align-items: center;
}
#logo {
  width: 40%;
  max-width: 30em;
}
#title {
  font-size: 10vmin;
  text-align: center;
}
#startButton {
  margin-top: 3%;
  font-size: 7vmin;
  color: black;
  background-color: var(--light-gray);
  border: 3px solid black;
  border-radius: 28px;
  font-family: 'Roboto', sans-serif;
}
#startScreen {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  box-shadow: 10px 10px 5px gray;
  background-color: #dbd9d8;
  padding-bottom: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.upButton,
.downButton {
  width: 5%;
  justify-self: end;
  float: right;
  position: absolute;
  left: 25%;
  margin-left: 3%;
}
#teamInput {
  align-items: center;
  margin-top: 3%;
}
#formInput {
  display: grid;
}
.startInput {
  width: 40%;
  height: 5vh;
  border: 3px solid black;
}
#teamNumLabel {
  padding-left: 3%;
}
#teamNumTitle {
  text-align: center;
  font-size: 10vmin;
  margin-top: 2%;
  margin-bottom: 0;
  color: white;
}
.toggleTitle {
  font-size: 5vmin;
  color: white;
}
label {
  font-size: 5vmin;
  color: white;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.startLabel {
  color: black;
}
input {
  font-size: 3vmin;
}
.input {
  margin-top: 2%;
  background-color: var(--dark-gray);
  border: 2px solid black;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  padding: 2rem;
  align-self: center;
}
#teleInput{
  box-sizing: content-box;
}
.checkBoxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  text-align: center;
  margin-left: auto;
  margin-right: 2.5rem;
  width: 14.3%;
}

.checkBoxContainer input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.checkBox {
  position: absolute;
  left: 100%;
  height: 100%;
  width: 40px;
  background-color: #eee;
}

.checkBoxContainer:hover input ~ .checkBox {
  background-color: #ccc;
}

.checkBoxContainer input:checked ~ .checkBox {
  background-color: var(--blue);
}

.checkBox:after {
  content: "";
  position: absolute;
  display: none;
}

.checkBoxContainer input:checked ~ .checkBox:after {
  display: block;
}

.checkBoxContainer .checkBox:after {
  left: 15px;
  top: 0.25em;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.true {
  background-color: #55ad7a;
}

.input-container{
  display: flex;
}

.input-container input{
  margin-left: auto;
}


.creditTitles {
  text-align: center;
}
.robotFeats {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: white;
}
#credit {
  margin-top: 5%;
  background-color: var(--light-gray);
  border: 4px solid black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  width: 90%;
  font-size: 2vmin;
  display: none;
}
#creditToggle {
  margin-top: 3%;
  margin: 0 auto;
}
#center {
  margin-top: 3%;
  align-items: center;
  margin-bottom: 2%;
  text-align: center;
}
.numInput {
  width: 10rem;
}
#sendResults {
  background-color: white;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 7vmin;
  margin-bottom: 2%;
}
#submitAlert {
  background-color: var(--blue);
  color: white;
}
.customAlert {
  position: sticky;
  margin: 0 auto;
  top: 50%; 
  font-size: 5vmin;
  text-align: center;
  width: 50%;
  display: none;
  z-index: 1000;
}
#errorAlert {
  color: white;
  background-color: #cc372c;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  font-size: 5vmin;
  margin-bottom: 1%;
}
li {
  display: inline;
}
li a {
  color: white;
  text-align: center;
  padding: 0px 3%;
  text-decoration: none;
  word-wrap: break-word;
  word-break: break-word;
}
li:hover {
  opacity: 0.5;
}
.title {
  font-family: 'Cabin', sans-serif;
}
#close {
  width: 7%;
  position: absolute;
  left: 88%;
}
.activeTab {
  background-color: var(--light-green);
}
#robotNotes {
  display: none;
  margin: 0 auto;
  width: 70%;
  height: 5rem;
  margin-top: 3%;
  font-size: 4vmin;
}
#robotNotes::placeholder {
  font-size: 4vmin;
}
#submitStartForm {
  width: 70%;
  font-size: 4vmin;
  margin: 0 auto;
}
#dropdownMenu {
  background-color: var(--light-gray);
  height: 10rem;
}
#robotPicture {
  border: none;
  display: none;
}
#addPic {
  /* display: none; */
  font-size: 3vmin;
  margin: 1% auto;
}
@media only screen and (min-width: 1100px) {
  .toggle {
    width: 30%;
  }
  #submitButton {
    width: 50%;
  }
  #credit {
    font-size: 2vmin;
    width: 70%;
  }
  .input {
    width: 50%;
  }
  #close {
    width: 5%;
    left: 80%;
  }
}